:root {
  --border-card: white;
  --alt-font: Verdana, Geneva, Tahoma, sans-serif;
  --gray: #D9D9D9;
  --stat: 100%;
}

.card-detail {
  width: 400px;
  height: 580px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  border-radius: 10px;
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  position: absolute;
  border-radius: 10px;
}

.front-card {
  background-color: white;
  padding: 20px;
}

.back-card {
  transform: rotateY(180deg) !important;
  background-color: var(--border-card);
  overflow: hidden;
  justify-content: center;
}

.back-content {
  background-color: white;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.back-content p {
  font-family: var(--alt-font);
}

.back-content .power {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.back-content .power span {
  font-family: var(--alt-font);
}

.back-content .power img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.back-content .bottom {
  position: absolute;
  bottom: 15px;
  left: 10px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-content .bottom .star {
  display: flex;
  gap: 8px;
}

.back-content .bottom .star img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.back-content .bottom .evolve {
  display: flex;
  flex-direction: column;
  width: 160px;
  gap: 5px;
  align-items: center;
}

.back-content .bottom .evolve .deactive {
  background-color: var(--gray);
  font-family: var(--alt-font);
  padding: 5px 15px;
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  color: rgb(150, 150, 150);
  pointer-events: none;
}

.back-content .bottom .evolve .logout {
  background-color: orange;
  width: 80%;
}

.back-content .bottom .evolve .logout:hover {
  box-shadow: none;
}

.back-content .bottom .evolve i {
  font-family: var(--alt-font);
  font-size: 10px;
  color: gray;
}

.back-card .back-detail {
  font-family: var(--alt-font);
  text-align: right;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.2s;
  position: absolute;
  right: 7px;
  top: 10px;
}

.rotate {
  transform: rotateY(180deg) !important;
}

.transition {
  transition: transform 1.3s;
  pointer-events: none;
}

.color-rank {
  position: absolute;
  width: 100%;
  height: 34%;
  top: 0;
  left: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  z-index: 9;
  padding: 10px;
}

.color-rank p {
  font-family: var(--alt-font);
  text-align: right;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.2s;
  font-size: 15px;
}

.pokemon-img {
  margin-top: 89px;
  width: 160px;
  height: 160px;
  background-color: white;
  z-index: 10;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  transform: translateZ(20px);
  backface-visibility: hidden;
}

.card-detail h2,
.card-detail h3 {
  z-index: 10;
  font-family: var(--alt-font);
}

.card-detail h2 {
  color: rgb(59, 59, 59);
}

.card-detail h3 {
  font-size: 0.9em;
  margin-top: 15px;
}

.card-detail .summary {
  font-family: var(--alt-font);
  text-align: center;
  margin-top: 20px;
  color: rgb(56, 56, 56);
  font-size: 15px;
  height: 90px;
  overflow: auto;
}

.type {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  transform: translateZ(20px);
  backface-visibility: hidden;
}

.type span,
.weakness span {
  border: 3px solid black;
  font-size: 10px;
  padding: 7px;
  width: 100px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  border-radius: 5px;
}

.stat {
  width: 100%;
  height: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.stat-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.stat p:nth-child(2) {
  width: 23%;
  font-size: 16px;
  word-break: keep-all;
}

.stat p:nth-child(4) {
  font-size: 13px;
}

.stat span {
  width: 65%;
  height: 100%;
  background-color: var(--gray);
  margin-right: 4px;
  display: flex;
}

.stat span::before {
  content: "";
  width: var(--stat);
  height: 100%;
  background-color: #73CDB2;
}

.stat img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.stat-group+p {
  font-size: 15px;
}

.weakness {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 5px;
  align-items: center;
}

.star-off {
  opacity: 0.6;
  filter: grayscale(100%);
}

.evolving {
  animation: evolving 4s ease-in;
  animation-fill-mode: both;
}

.evolving::before {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@keyframes evolving {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(1080deg);
  }
}

@media only screen and (max-height: 635px) {
  .card-detail {
    height: 550px;
  }
}

@media only screen and (max-width: 500px) {
  .card-detail {
    width: 300px;
    height: 580px;
  }
}

@media only screen and (max-width: 340px) {
  .card-detail {
    width: 90vw;
    height: 70vh;
    max-width: 290px;
  }

  .card-detail .pokemon-img {
    width: 120px;
    height: 120px;
    margin-top: 10vh;
  }

  .card-detail h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .card-ctrl {
    width: 250px;
    height: 450px;
  }

  .card-ctrl .pokemon-img {
    width: 120px;
    height: 120px;
    margin-top: 70px;
  }

  .card-ctrl h2 {
    font-size: 18px;
  }

  .card-ctrl h3 {
    font-size: 12px;
  }

  .card-detail p {
    /* font-size: 12px; */
    /* margin-top: 12px; */
    /* height: 10vh; */
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(122, 122, 122, 0.267);
  border-radius: 5px;
}

@media only screen and (max-width: 360px) {
  .draw-container {
    column-gap: 7px;
  }

  .card-ctrl {
    width: 200px;
    height: 450px;
  }

  .card-ctrl .type {
    gap: 10px;
  }

  .card-ctrl .type span {
    max-width: 80px;
  }
}