.play-bg {
  background-color: #daf0ce;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-bg-stripes {
  display: flex;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  flex-direction: column;
}

.play-bg-stripes div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 6px;
}

.play-bg-stripes div:nth-child(2) {
  flex-direction: column-reverse;
}

.play-bg-stripes div span {
  background-color: #c4e1bf;
  width: 100%;
}

.pokemon-place {
  max-width: 1090px;
  width: 100vw;
  height: 24vh;
  padding: 0 3vw;
  position: relative;
}

.shadow {
  width: 80%;
  height: 100%;
  max-width: 638px;
  object-fit: contain;
}

.enemy {
  display: flex;
  justify-content: flex-end;
}

.pokemon-char {
  position: absolute;
  max-width: 638px;
  width: 80%;
  height: 20vh;
  bottom: 15%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.pokemon-img-ctrl {
  width: 33%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pokemon-img-ctrl div {
  font-size: 12px;
  color: rgb(228, 228, 228);
  text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.9),
    -1.5px -1.5px 0 rgba(19, 19, 19, 0.9), -1.5px 1.5px 0 rgba(19, 19, 19, 0.9),
    1.5px -1.5px 0 rgba(19, 19, 19, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
}
/* 
.pokemon-img-ctrl span {
  position: absolute;
  top: 0;
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.9);
  font-size: 10px;
  min-width: 40px;
  width: 50%;
} */

.hp-bar {
  position: absolute;
  top: 0;
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.9);
  font-size: 10px;
  min-width: 40px;
  width: 50%;
  display: flex;
}

.hp-bar p {
  font-size: 8px;
}

@media only screen and (max-width: 300px) {
  .pokemon-img-ctrl span {
    font-size: 7px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
  }
}

.pokemon-img-ctrl h5 {
  position: absolute;
  color: white;
  right: 0;
  text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.9),
    -1.5px -1.5px 0 rgba(19, 19, 19, 0.9), -1.5px 1.5px 0 rgba(19, 19, 19, 0.9),
    1.5px -1.5px 0 rgba(19, 19, 19, 0.9);
  font-size: 10px;
  min-width: 40px;
  width: 50%;
  text-align: center;
  animation: damage 0.8s linear 0s;
  animation-fill-mode: both;
}

@keyframes damage {
  0% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: -10px;
  }
}

.hp {
  transition: 0.5s all ease;
  content: "";
  width: 100%;
  height: 10px;
  border: 2px solid black;
  display: flex;
}

.hp span {
  
  transition: 0.3s ease-in;
}

.hp span:nth-child(1) {
  content: '';
  display: flex;
  background-color: red;
  height: 100%;
}

.hp span:nth-child(2) {
  content: '';
  display: flex;
  background-color: rgb(45, 78, 223);
  height: 100%;
}

/* .hp::after {
  content: '';
  display: flex;
  width: 20%;
  background-color: rgb(0, 60, 255);
  height: 100%;
} */

.pokemon-img-ctrl:nth-child(odd) img {
  animation: moveLeft 1s linear 0s infinite;
}

.pokemon-img-ctrl:nth-child(even) img {
  animation: moveRight 1s linear 0s infinite;
}

.pokemon-img-ctrl img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}


.pokemon-img-ctrl img:nth-child(2) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  animation: rotate 3s linear 0s infinite;
  opacity: 0.5;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 30deg;
  }
}

@keyframes shake {
  0% {
    top: 0;
  }
  50% {
    top: 4px;
  }
  100% {
    top: 0;
  }
}

@keyframes hitEffect {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  51% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(90deg);
  }
}

@keyframes shake1 {
  0% {
    top: 0;
  }
  5% {
    top: 4px;
  }
  10% {
    top: 0;
  }
  15% {
    top: 4px;
  }
  20% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes hitEffect1 {
  0% {
    filter: hue-rotate(0deg);
  }
  12.5% {
    filter: hue-rotate(90deg);
  }
  25% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  51% {
    filter: hue-rotate(0deg);
  }
  0% {
    filter: hue-rotate(0deg);
  }
}

@keyframes moveLeft {
  0% {
    left: 0;
  }
  50% {
    left: 8px;
  }
  100% {
    left: 0;
  }
}

@keyframes moveRight {
  0% {
    right: 0;
  }
  50% {
    right: 2px;
  }
  100% {
    right: 0;
  }
}

.dialogue-container {
  width: 100vw;
  height: 40vh;
  background-color: #313131;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.dialogue-border {
  background-color: #585151;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
}

.dialogue-border1 {
  background-color: #f6dd85;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 2px;
}

.dialogue-border2 {
  background-color: #717178;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 6px;
}

.dialogue-border3 {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dialogue-border3 p {
  color: #464646;
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
}

.turn-opt {
  display: flex;
  color: #979393;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.turn-opt span:hover {
  color: #464646;
  cursor: pointer;
}

.book {
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-left: auto; /* Pushes the last child to the right */
  margin-top: auto; /* Pushes the last child to the bottom */
}

.book img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

@media only screen and (max-width: 475px) {
  .dialogue-border3 p {
    font-size: 12px;
  }

  .dialogue-border3 span {
    font-size: 12px;
  }

  .pokemon-img-ctrl div {
    display: none;
  }

  .pokemon-img-ctrl img:hover ~ div {
    display: flex;
  }

  .book {
    width: 35px;
    height: 35px;
  }
}
