.loading h1 {
    margin-top: 40px;
    color: #f7e901;
    -webkit-text-stroke: 1px #7e5701;
    font-size: 40px;
    font-weight: bolder;
}

@media only screen and (max-width:500px) {
    .loading img {
        max-width: 270px;
    }

    .loading h1 {
        font-size: 20px;
    }
}